%h1 Welcome New Boots!
%p Congratulations on making the cut for Dev Bootcamp!  This tutorial is going to help you start off on the right foot by teaching you a few things that aren't Ruby, but are quite important to undestand for your future in the industry.  If you are running MacOS or any flavor of Linux you are going to be very comfortable fitting into a Ruby workflow.
