%h1 Welcome New Boots!
%p
  Congratulations on making into Dev Bootcamp!  This tutorial is going to help you start off on the right foot by teaching you a few things that aren't ruby, but are quite important to undestand for your future in the industry.
